# Redirection sur les pages d'erreur
ErrorDocument 400 /pages/error.php?error=400&static=false
ErrorDocument 401 /pages/error.php?error=401&static=false
ErrorDocument 402 /pages/error.php?error=402&static=false
ErrorDocument 403 /pages/error.php?error=403&static=false
ErrorDocument 404 /pages/error.php?error=404&static=false
ErrorDocument 405 /pages/error.php?error=405&static=false
ErrorDocument 500 /pages/error.php?error=500&static=false
ErrorDocument 501 /pages/error.php?error=501&static=false
ErrorDocument 502 /pages/error.php?error=502&static=false
ErrorDocument 503 /pages/error.php?error=503&static=false
ErrorDocument 504 /pages/error.php?error=504&static=false
ErrorDocument 505 /pages/error.php?error=505&static=false
