// ==== Thème ====
// Fond d'écran
$background: url('../../../../public/assets/img/bg.png') no-repeat center center fixed;

// Primaire
$bg-primary: rgb(138, 0, 85);
$text-primary: rgba(255, 255, 255, 1.0);
$link-primary: rgba(255, 255, 255, 1.0);
$link-primary-hover: rgba(204, 204, 204, 1.0);

// Contenu
$bg-content: rgba(255, 255, 255);
$text-content: rgba(0, 0, 0, 1.0);
$link-content: rgba(30, 144, 255, 1.0);
$img-content: rgba(200, 200, 200, 1.0);
$separator: rgba(187, 187, 187, 1.0);

// Champs de saisie
$input-bg: #FFFFFF;
$input-text: rgba(0, 0, 0, 1.0);
$input-border: rgba(0, 0, 0, 0.15);
$input-border-active: rgba(0, 0, 0, 0.2);
$input-placeholder: #888888;
// Transition vers l'état actif
$input-transition-hover: ease-out 0.2s;
// Transition vers l'état initial
$input-transition-normal: ease-in 0.2s;

// ==== Fonts ====
$global-font-family: 'Segoe UI', Calibri, sans-serif;
