<div class="content">
	<div class="side-menu">
		<div class="side-menu-bar">
			<button class="no-default-button-style side-menu-bar-item" (click)="toggleTabOpen()">
				<vsc-explorer-icon class="icon"></vsc-explorer-icon>
			</button>
			<button class="no-default-button-style side-menu-bar-item">
				<vsc-search-icon class="icon"></vsc-search-icon>
			</button>
			<button class="no-default-button-style side-menu-bar-item">
				<vsc-source-control-icon class="icon"></vsc-source-control-icon>
			</button>
			<button class="no-default-button-style side-menu-bar-item">
				<vsc-debug-icon class="icon"></vsc-debug-icon>
			</button>
			<button class="no-default-button-style side-menu-bar-item">
				<vsc-extensions-icon class="icon"></vsc-extensions-icon>
			</button>
		</div>
		<div class="side-menu-tab explorer" *ngIf="isTabOpen">
			<span class="side-menu-tab-title">
				<h1>Explorer</h1><button class="no-default-button-style settings">⋯</button>
			</span>
			<ul
				*ngIf="!gitHubAPIService.isLoadingData && gitHubAPIService.displayedUser && gitHubAPIService.userRepositories">
				<li *ngIf="!gitHubAPIService.isLoadingData && gitHubAPIService.displayedUser" class="folder">
					<img src="/assets/icons/vscode/vsc-folder.svg" class="folder-icon"/><span class="folder-title">{{gitHubAPIService.displayedUser.login}}</span>
					<ul>
						<li *ngFor="let repository of gitHubAPIService.userRepositories[gitHubAPIService.displayedUser.login]" class="folder">
							<img src="/assets/icons/vscode/vsc-folder.svg" class="folder-icon"/><a class="folder-title"
								href="https://github1s.com/{{repository.full_name}}" target="_blank">{{repository.name}}</a>
						</li>
					</ul>
				</li>
				<li
					*ngFor="let organization of gitHubAPIService.userOrganizations[gitHubAPIService.displayedUser.login]"
					class="folder">
					<img src="/assets/icons/vscode/vsc-folder.svg" class="folder-icon"/>{{organization.login}}
					<ul *ngIf="gitHubAPIService.userRepositories[organization.login]">
						<li *ngFor="let repository of gitHubAPIService.userRepositories[organization.login]" class="folder">
							<img src="/assets/icons/vscode/vsc-folder.svg" class="folder-icon"/><a class="folder-title"
								href="https://github1s.com/{{repository.full_name}}"
								target="_blank">{{repository.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="display">
		<vscode-icon class="icon" colorRightSide="#161616" colorArmTop="#161616" colorArmBottom="#161616"></vscode-icon>
	</div>
</div>
<div class="notifications">
	<div class="notifications-card" *ngIf="gitHubAPIService.isLoadingData">
		<h1>
			<spinner></spinner> Chargement en cours...
		</h1>
	</div>
	<div class="notifications-card" *ngIf="!gitHubAPIService.isLoadingData && !gitHubAPIService.displayedUser">
		<h1>❌ Une erreur est survenue lors du chargement des données</h1>
	</div>
</div>
