<div class="window" [class.window-minimized]="app.isMinimized">
	<div class="window-title-bar">
		<span class="window-title-bar-app">
			<span class="window-title-bar-app-icon">
				<img [src]="app.icon" [alt]="app.name" />
			</span>
			<span class="window-title-bar-app-title">{{app.name}}</span>
		</span>
		<span class="window-title-bar-controls">
			<button class="no-default-button-style window-title-bar-controls-button minimize" (click)="app.toggleMinimized(true)">
				<window-minimize-icon class="icon" title="Réduire"></window-minimize-icon>
			</button>
			<button class="no-default-button-style window-title-bar-controls-button maximize">
				<window-maximized-icon class="icon" title="Maximiser"></window-maximized-icon>
			</button>
			<button class="no-default-button-style window-title-bar-controls-button close" (click)="app.close()">
				<window-close-icon class="icon" title="Fermer"></window-close-icon>
			</button>
		</span>
	</div>
	<div class="window-content">
		<ng-container *ngComponentOutlet="app.component"></ng-container>
		<ng-content></ng-content>
	</div>
</div>
