@import '../../style/selectedTheme.scss';

$taskbar-height: 50px;
$title-bar-height: 40px;
$title-bar-control-size: 50px;

.window {
	display: block;
	height: calc(100vh - #{$taskbar-height});
	overflow: hidden;

	&-minimized {
		display: none;
	}

	&-title-bar {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: $title-bar-height;
		background-color: rgba($bg-primary, 0.8);
		color: $text-primary;
		box-sizing: border-box;
		user-select: none;

		// Effets de flou
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: inherit;
			filter: blur(10px);
			z-index: -1;
		}

		&-app {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0.8em;

			* {
				display: flex;
				justify-content: center;
				align-items: center;
				vertical-align: middle;
			}

			&-icon {
				height: 100%;
				max-width: $title-bar-control-size;
				margin-right: 0.5em;

				img {
					min-height: 1em;
					min-width: 1em;
					height: 100%;
					max-height: 2em;
					max-width: 100%;
					object-fit: contain;
				}
			}
		}

		&-controls {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			height: 100%;
			text-align: center;

			&-button {
				text-align: center;
				position: relative;
				height: 100%;
				width: 60px;

				.icon {
					vertical-align: top;
					height: 40%;
					display: inline-block;
					max-width: 100%;
					// Conserver le ratio
					object-fit: contain;
				}

				&:hover {
					background: rgba(255, 255, 255, 0.3);
				}

				&:focus-visible,
				&:active {
					background: rgba(0, 0, 0, 0.1);
				}

				&.close {
					&:hover {
						background: rgba(255, 0, 0, 0.5);
					}

					&:focus-visible,
					&:active {
						background: rgba(255, 0, 0, 0.3);
					}
				}
			}
		}
	}

	&-content {
		display: block;
		width: 100%;
		background: $bg-content;
		height: calc(100% - #{$title-bar-height});
		overflow: hidden;
	}
}
