@import '../../../style/selectedTheme.scss';

.taskbar {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: $bg-primary;
	z-index: 10;
	user-select: none;

	&-start-icon {
		box-sizing: border-box;
		display: inline-block;
		height: 100%;
		padding: 1em;
		text-align: center;
		color: $text-primary;
		cursor: pointer;
		vertical-align: middle;

		&:hover {
			background: rgba(255, 255, 255, 0.3);
			color: lighten($bg-primary, 10%);
		}

		&:focus,
		&:active {
			background: rgba(0, 0, 0, 0.1);
			color: lighten($bg-primary, 20%);
		}
	}
}
