/* Slideshow container */
.slideshow {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
	background: rgb(0 0 0 / 95%);
	color: white;
	display: none;
}

.slideshow .slideFrame {
	position: relative;
	max-width: 80%;
	height: 100%;
	display: block;
	margin: auto;
	overflow-y: auto;
	overflow-x: auto;
}

.slideshow .slideFrame img {
	max-width: 90%;
	max-height: 95%;
	margin: 30px auto;
}

.slideshow .picture {
	font-size: 15px;
	padding: 8px 12px;
	text-align: center;
	height: 75%;
}

.slideshow .description {
	font-size: 25px;
	padding: 8px 12px;
	text-align: center;
}

.slideshow h1 {
	font-size: 25px;
	text-align: center;
}

.slideshow .pagenum {
	text-shadow: 0px 0px 3px black;
	font-size: 20px;
	margin: 15px;
	position: absolute;
	top: 0;
}

.slideshow .prev,
.slideshow .next {
	position: absolute;
	top: 40%;
	cursor: pointer;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.5s;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.slideshow .prev {
	left: 0;
}

.slideshow .next {
	right: 0;
}

.slideshow .prev:hover,
.slideshow .next:hover {
	background-color: rgb(27, 27, 27);
}

.slideshow .prev:active,
.slideshow .next:active {
	background-color: rgb(20, 20, 20);
}

.slideshow .close {
	position: absolute;
	transition: 0.5s;
	top: 0;
	right: 0;
	font-size: 20px;
	padding: 7px 20px;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.slideshow .close:hover {
	transition: 0.3s;
	cursor: pointer;
	background: red;
}

/* Fading animation */
.fade {
	animation-name: fadeIn;
	animation-duration: 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}