/* Rappels: 
IE/Edge CSS-prefix: -ms
Firefox CSS-prefix: -moz 
Opera CSS prefix: -o (Presto) and -webkit (Blink) 
Safari CSS prefix: -webkit 
Chrome CSS prefix: -webkit
*/

/* Propriétés générales du corps de la page */
@media (prefers-color-scheme: light) {
	:root {
		--textcolor: black;
		--themecolor: white;
		--darker: rgb(0, 0, 0, 0.2);
		--evendarker: rgb(0, 0, 0, 0.4);
		--highlight: rgb(0, 0, 0, 0.1);
		--highlight2: rgb(0, 0, 0, 0.2);
	}
}

@media (prefers-color-scheme: dark),
(prefers-color-scheme: no-preference) {
	:root {
		--textcolor: white;
		--themecolor: rgb(23 24 25);
		--darker: rgb(0, 0, 0, 0.2);
		--evendarker: rgb(0, 0, 0, 0.4);
		--highlight: rgb(255, 255, 255, 0.1);
		--highlight2: rgb(255, 255, 255, 0.2);
	}
}

@font-face {
	font-family: "Agency FB";
	font-style: normal;
	font-weight: 400;
	src: local("Agency FB"), local("AgencyFB-Regular"),
		url(/common/fonts/agencyfb.ttf) format("truetype");
}

* {
	outline: none;
}

/* Déplacement plus fluide de la page */
html {
	scroll-behavior: smooth;
}

/* Position, couleur, police et image de fond du corps */
body {
	padding: 0;
	margin: 0;
	font-family: "Agency FB", sans-serif;
	background-color: var(--themecolor);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(/common/img/circuits.jpg);
	color: var(--textcolor);
	min-height: 100%;
	position: relative;
	z-index: 0;
}

/* Code destiné à styliser la barre de défilement sur les navigateurs à moteur Chromium (webkit) */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background: var(--themecolor);
}

::-webkit-scrollbar-thumb {
	background: var(--highlight);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--highlight2);
}

::-webkit-scrollbar-thumb:active {
	background: var(--highlight);
}

/* Styliser tous les liens */
a {
	text-decoration: none;
	color: var(--textcolor);
}

/* En-tête */
header {
	width: 100%;
	position: relative;
	top: 0;
	z-index: 1;
	text-align: center;
	text-shadow: 2px 2px 0px black;
	background-color: var(--evendarker);
	background-size: cover;
}

/* Liens en-tête */
header a {
	display: inline-block;
	padding: 20px;
	position: relative;
	font-size: 30px;
	text-transform: uppercase;
	vertical-align: middle;
	box-sizing: border-box;
	transition: 1s;
	border: 2px solid transparent;
}

header a:hover {
	cursor: pointer;
	transition: 1s;
	border: 2px solid white;
}

header a:active {
	background: var(--highlight2);
	border: 2px solid gray;
	transition: 0.1s;
}

/* Titre en-tête */
header h1 {
	margin: 0;
	display: inline-block;
	font-size: 80px;
	color: white;
}

/* Menu de gauche */
.menu {
	position: fixed;
	width: 0px;
	height: 100%;
	background: var(--themecolor);
	top: 0;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 1s;
	user-select: none;
}

/* Bouton affichage du menu */
#toggle.disp {
	position: fixed;
	top: 30px;
	left: 60px;
	font-size: 60px;
	width: 60px;
	user-select: none;
	z-index: 3;
	transition: 0.5s;
	transform: unset;
	text-shadow: 0px 0px 5px black;
	color: white;
}

#toggle.disp:hover {
	cursor: pointer;
}

/* Cadre du profil */
.menu .profile {
	margin: 130px 5% 30px 5%;
	background: var(--highlight);
	padding: 15px;
}

.menu .profile img {
	max-height: 120px;
	max-width: 100%;
}

.menu .profile .infos {
	position: absolute;
	display: inline;
	margin: 5px;
	white-space: nowrap;
}

.menu .profile .infos h1,
.menu .profile .infos h3 {
	margin: 0;
}

/* Liens du menu */
.menu .links a {
	display: block;
	width: 100%;
	padding: 20px 0 20px 20px;
	font-size: 25px;
	box-sizing: border-box;
	white-space: nowrap;
	transition: 0s;
}

.menu .links a .dropdown {
	position: absolute;
	right: 25px;
}

.menu .links a:hover,
.menu .links a:focus-visible {
	background: var(--highlight);
	cursor: pointer;
	transition: 0.5s;
}

.menu .links a:active {
	background: var(--highlight2);
	transition: 0.1s;
}

/* Liens du sous-menu */
.menu .links .submenu a {
	text-align: center;
	font-size: 20px;
	padding: 10px;
	transition: 1s;
}

.submenu,
.submenu.closed {
	transition: 1s cubic-bezier(0, 1, 1, 1);
	overflow: hidden;
	height: 0px;
}

.submenu.opened {
	transition: 1s cubic-bezier(0, 0, 0, 1);
	overflow: hidden;
}

/* Couche sombre par-dessus le contenu */
.cover {
	height: 100%;
	width: 100%;
	z-index: -2;
	position: fixed;
	top: 0;
}

#main iframe {
	border: none;
	/* Tests/dev only */
	filter: blur(7px);
}

#main iframe[title="CV"] {
	min-height: 800px;
	width: 100%;
	margin: auto;
	display: block;
}

#main iframe[title="RS"] {
	min-height: 500px;
	width: 80%;
	display: block;
	margin: auto auto;
}

/* Contenu */
.main {
	position: relative;
	padding: 0 50px 0 150px;
	overflow: hidden;
	z-index: -1;
	width: 100%;
	min-height: 1000px;
	font-size: 25px;
	background: var(--themecolor);
	box-sizing: border-box;
	transition: 1s;
}

.main p {
	text-indent: 20px;
	text-align: justify;
	text-shadow: 0 0 1px black;
}

.main p sup {
	font-size: 15px;
	color: lightblue;
}

.main p sup:hover {
	cursor: pointer;
	text-decoration: underline;
}

.main .title hr {
	border: none;
	height: 5px;
	width: 75px;
	background: var(--textcolor);
	margin: 15px 0px;
}

.main .title h1 {
	margin: 10px auto;
}

/* Formulaires */

.main form {
	background: white;
	color: black;
	text-align: center;
	width: 50%;
	margin: auto;
	box-shadow: 0px 0px 1px black;
}

.main form h1 {
	background: black;
	color: white;
	padding: 15px;
}

.main input[type="text"],
.main textarea {
	background-color: transparent;
	border-radius: 0;
	border-width: 0 0 2px 0;
	border-color: black;
	margin: 10px auto 10px auto;
	display: block;
	padding: 7px;
	width: 50%;
	height: 20px;
	transition: 0.2s linear;
	color: black;
	font-family: "Agency FB", sans-serif;
	font-size: 18px;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.main textarea {
	height: 200px;
}

.main input[type="text"]:hover,
.main textarea:hover {
	border-color: #005aff;
	transition: 0.2s linear;
}

.main input[type="text"]:focus,
.main textarea:focus {
	background-color: rgb(0 0 0 / 5%);
	box-shadow: inset 0 0 2px var(--evendarker);
	transition: 0.2s linear;
}

.main form .error {
	background: rgb(255 0 0 / 80%);
	border: 8px solid var(--darker);
	margin: 25px;
	padding: 10px;
	color: white;
	display: inline-block;
}

.main form .success {
	background: rgb(0 100 0 / 80%);
	border: 8px solid var(--darker);
	padding: 10px;
	color: white;
	display: inline-block;
}

.main form h3 {
	margin: 0;
}

.main form button {
	color: white;
	background: rgb(23 24 25);
	border: 5px solid rgb(23 24 25);
	border-radius: 0;
	font-size: 20px;
	padding: 15px;
	display: inline;
	margin: 5px auto 5px auto;
	transition: 0.5s;
	font-family: "Agency FB", sans-serif;
}

.main form button:hover {
	color: white;
	background: rgb(23 24 25);
	border: 5px solid var(--highlight2);
	cursor: pointer;
	transition: 0.5s;
}

.main form button:active {
	background: radial-gradient(rgb(40 40 40), rgb(23 24 25));
	border: 5px solid var(--evendarker);
	cursor: pointer;
}

/* Articles/Cartes */

.main article {
	display: inline-block;
	background: rgb(255 255 255 / 90%);
	margin: 15px 25px 15px 0px;
	width: 300px;
	min-height: 500px;
	vertical-align: top;
	text-align: justify;
	box-shadow: 0px 0px 10px 0px var(--darker);
}

.main article img {
	width: 100%;
	display: block;
	background: var(--evendarker);
	cursor: pointer;
}

.main article p {
	margin: 10px 25px;
	display: inline-block;
	font-size: 18px;
	color: black;
	text-shadow: none;
}

.main article h1,
.main article a {
	font-size: 25px;
	color: black;
	margin: 5px 15px;
	text-align: center;
}

.main article a:hover,
.main article a:focus {
	text-decoration: underline;
}

.main article h6 {
	text-align: center;
	margin: 10px 0 0 0;
	color: gray;
}

.main article hr {
	border: none;
	background: gray;
	height: 2px;
	width: 40px;
}

/* Informations de bas de page */
footer {
	position: relative;
	color: white;
	background: rgb(23 24 25);
	text-shadow: 0 0 4px black;
	bottom: 0;
	z-index: -1;
	width: 100%;
	text-align: center;
	font-size: 25px;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0 0 2px black;
}

/* Responsive design */

@media screen and (min-device-width: 0px) and (max-width: 1130px) {
	.menu .profile {
		text-align: center;
	}

	.menu .profile .infos {
		position: relative;
	}

	.menu .links a .dropdown {
		right: 5px;
	}

	#toggle.disp {
		left: 30px;
	}
}