/* Rappels: 
IE/Edge CSS prefix: -ms
Firefox CSS prefix: -moz 
Opera CSS prefix: -o (Presto) and -webkit (Blink) 
Safari CSS prefix: -webkit 
Chrome CSS prefix: -webkit
*/

/* Tests/dev only */
iframe,
.infos,
h4 {
	filter: blur(7px);
}

/* Default element/Background colors */
:root {
	--textcolor: white;
	--themecolor: rgb(23 24 25);
	--darker: rgb(0, 0, 0, 0.2);
	--darker2: rgb(0, 0, 0, 0.4);
	--lighter: rgb(255, 255, 255, 0.1);
	--lighter2: rgb(255, 255, 255, 0.2);
}

/* Propriétés générales du corps de la page */
@font-face {
	font-family: "Agency FB";
	font-style: normal;
	font-weight: 400;
	src: local("Agency FB"), local("AgencyFB-Regular"),
		url(/common/fonts/agencyfb.ttf) format("truetype");
}

* {
	outline: none;
}

/* Navigation par tabulation */
*:focus-visible {
	box-shadow: 0 0 2px 2px gray;
}

html {
	/* Déplacement plus fluide de la page */
	scroll-behavior: smooth;
	/* Antialiasing des polices */
	-webkit-font-smoothing: antialiased;
}

/* Position, couleur, police et image de fond du corps */
body {
	padding: 0;
	margin: 0;
	font-family: "Agency FB", sans-serif;
	background-color: var(--themecolor);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(/common/img/circuits.jpg);
	color: var(--textcolor);
	min-height: 100%;
	position: relative;
	z-index: 0;
}

/* Code destiné à styliser la barre de défilement sur les navigateurs à moteur Chromium (webkit) */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background: var(--themecolor);
}

::-webkit-scrollbar-thumb {
	background: var(--lighter);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--lighter2);
}

::-webkit-scrollbar-thumb:active {
	background: var(--lighter);
}

/* Styliser tous les liens */
a {
	text-decoration: none;
	color: var(--textcolor);
}

/* En-tête */
header {
	width: 100%;
	position: relative;
	top: 0;
	z-index: 0;
	text-align: center;
	text-shadow: 2px 2px 0px black;
	background-color: var(--darker2);
	background-size: cover;
}

/* Liens en-tête */
header a {
	display: inline-block;
	padding: 20px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;
	box-sizing: border-box;
	transition: 1s;
	border: 2px solid transparent;
}

header a:hover {
	cursor: pointer;
	transition: 1s;
	border: 2px solid white;
}

header a:active {
	background: var(--lighter2);
	border: 2px solid gray;
	transition: 0.1s;
}

/* Titre en-tête */
header h1 {
	margin: 0;
	display: inline-block;
	font-size: 80px;
	color: white;
}

/* Menu de gauche (fermé) */
.menu {
	position: fixed;
	width: 0px;
	height: 100%;
	background: var(--darker);
	top: 0;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	transition: 0.3s;
}

/* Menu de gauche (ouvert) */
.menu.opened {
	width: 25%;
	transition: 0.5s;
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
}

/* Bouton affichage du menu (ouvert) */
.menu.opened .menu-btn {
	position: absolute;
	transform: rotate(360deg);
}

/* Texte du profil (menu ouvert) */
.menu.opened .profile .infos {
	white-space: normal;
}

/* Contenu (menu fermé) */
.main.opened {
	padding-left: 26%;
	transition: 0.5s;
}

/* Couche sombre par-dessus le contenu (menu fermé) */
.cover.opened {
	margin-left: 25%;
	z-index: 1;
	background: rgb(0, 0, 0, 0.7);
	transition: 0.5s;
}

/* Bouton affichage du menu (fermé) */
.menu-btn {
	position: fixed;
	top: 40px;
	left: 60px;
	font-size: 60px;
	line-height: 60px;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	z-index: 3;
	transition: 0.5s;
	color: white;
}

/* Survol du bouton affichage du menu */
.menu-btn:hover {
	cursor: pointer;
}

/* Cadre du profil */
.menu .profile {
	margin: 130px 5% 30px 5%;
	background: var(--lighter);
	padding: 15px;
}

.menu .profile img {
	max-height: 120px;
	max-width: 100%;
}

.menu .profile .infos {
	position: absolute;
	display: inline;
	margin: 5px;
	white-space: nowrap;
}

.menu .profile .infos h1,
.menu .profile .infos h3 {
	margin: 0;
}

/* Liens du menu */
.menu .links a {
	display: block;
	width: 100%;
	padding: 20px 0 20px 20px;
	font-size: 25px;
	box-sizing: border-box;
	white-space: nowrap;
	transition: 0s;
}

.menu .links a .dropdown {
	position: absolute;
	right: 25px;
}

.menu .links a:hover,
.menu .links a:focus-visible {
	background: var(--lighter);
	cursor: pointer;
	transition: 0.5s;
}

.menu .links a:active {
	background: var(--lighter2);
	transition: 0.1s;
}

/* Liens du sous-menu */
.menu .links .submenu a {
	text-align: center;
	font-size: 20px;
	padding: 10px;
	transition: 1s;
}

.menu .submenu,
.menu.submenu.closed {
	transition: 1s cubic-bezier(0, 1, 1, 1);
	overflow: hidden;
	height: 0px;
}

.menu .submenu.opened {
	transition: 1s cubic-bezier(0, 0, 0, 1);
	overflow: hidden;
}

/* Couche sombre par-dessus le contenu */
.cover {
	height: 100%;
	width: 100%;
	z-index: -2;
	position: fixed;
	top: 0;
	transition: 0.3s;
}

.main iframe {
	border: none;
	margin: 10px;
	width: 80%;
	min-height: 500px;
	display: block;
	margin: 10px auto;
}

/* Contenu */
.main {
	position: relative;
	padding-top: 0px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 150px;
	overflow: hidden;
	z-index: -1;
	width: 100%;
	min-height: 100vh;
	font-size: 25px;
	background: var(--themecolor);
	box-sizing: border-box;
	transition: 0.3s;
}

.main .content,
.main .content p {
	text-align: center;
}

/* Paragraphes */
.main p {
	text-indent: 20px;
	text-align: justify;
}

/* Exposants */
.main p sup {
	font-size: 15px;
	color: lightblue;
}

.main p sup:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* Titre de page */
.main .title hr {
	border: none;
	height: 5px;
	width: 75px;
	background: var(--textcolor);
	margin: 15px 0px;
}

.main .title h1 {
	margin: 10px auto;
	text-align: left;
}

/* Formulaires */

.main form {
	background: white;
	color: black;
	text-align: center;
	width: 50%;
	margin: auto;
	box-shadow: 0px 0px 1px black;
}

.main form h1 {
	background: black;
	color: white;
	padding: 15px;
}

.main input[type="text"],
.main textarea {
	background-color: transparent;
	border-radius: 0;
	border-width: 0 0 2px 0;
	border-color: black;
	margin: 10px auto 10px auto;
	display: block;
	padding: 7px;
	width: 50%;
	height: 20px;
	transition: 0.2s linear;
	color: black;
	font-family: "Agency FB", sans-serif;
	font-size: 18px;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.main textarea {
	height: 200px;
}

.main input[type="text"]:hover,
.main textarea:hover {
	border-color: #005aff;
	transition: 0.2s linear;
}

.main input[type="text"]:focus,
.main textarea:focus {
	background-color: rgb(0 0 0 / 5%);
	box-shadow: inset 0 0 2px var(--darker2);
	transition: 0.2s linear;
}

.main form .response {
	color: white;
	border-left: 8px solid var(--darker);
	margin: 10px;
	padding: 10px;
	display: block;
}

.main form .response.error {
	background: rgb(150 0 0 / 80%);
}

.main form .response.success {
	background: rgb(0 100 0 / 80%);
}

.main form h3 {
	margin: 0;
}

.main form button {
	color: white;
	background: rgb(23 24 25);
	border: 5px solid rgb(23 24 25);
	border-radius: 0;
	font-size: 20px;
	padding: 15px;
	display: inline;
	margin: 5px auto 5px auto;
	transition: 0.5s;
	font-family: "Agency FB", sans-serif;
}

.main form button:hover {
	background: rgb(23 24 25);
	border: 5px solid var(--lighter2);
	cursor: pointer;
	transition: 0.3s;
}

.main form button:active {
	background: radial-gradient(rgb(40 40 40), rgb(23 24 25));
	border: 5px solid var(--darker2);
}

/* Articles/Cartes */
.main .content article {
	display: inline-block;
	background: rgb(255 255 255 / 90%);
	margin: 15px 25px 15px 0px;
	width: 300px;
	min-height: 500px;
	vertical-align: top;
	text-align: justify;
	box-shadow: 0px 0px 10px 0px var(--darker);
	transition: 0.5s;
}

.main .content article:hover {
	transform: scale(1.05);
	transition: 1s;
}

.main article.no-align {
	min-height: unset;
}

.main .content article img {
	width: 100%;
	display: block;
	background: var(--darker2);
	cursor: pointer;
}

.main .content article p,
.main .content article i,
.main .content article q {
	margin: 10px 25px 20px 25px;
	display: inline-block;
	font-size: 18px;
	color: black;
	text-shadow: none;
	text-align: justify;
}

.main .content article h1,
.main .content article h1 a {
	color: black;
}

.main .content article p a {
	color: blue;
	font-weight: bolder;
}

.main .content article h1 {
	font-size: 25px;
	margin: 5px 15px;
	text-align: center;
}

.main .content article a:hover,
.main .content article a:focus {
	text-decoration: underline;
}

.main .content article h6 {
	text-align: center;
	margin: 10px 0 0 0;
	color: gray;
}

.main .content article hr {
	border: none;
	background: gray;
	height: 2px;
	width: 40px;
}

.error {
	color: white;
	border-left: 8px solid var(--darker);
	display: block;
	background: rgb(150 0 0 / 80%);
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Informations de bas de page */
footer {
	position: relative;
	color: white;
	background: rgb(23 24 25);
	text-shadow: 0 0 4px black;
	bottom: 0;
	z-index: -1;
	width: 100%;
	text-align: center;
	font-size: 25px;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0 0 2px black;
}

footer a {
	color: white;
}

footer a:hover,
footer a:focus {
	text-decoration: underline;
}