@media (prefers-color-scheme: dark),
(prefers-color-scheme: no-preference) {
	:root {
		--textcolor: white;
		--themecolor: rgb(23 24 25);
	}

	.menu {
		background: var(--darker2);
	}

	.menu-btn {
		text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	}

	.menu .links a {
		text-shadow: -1px -1px 1px black,
			1px -1px 1px black,
			-1px 1px 1px black,
			1px 1px 1px black
	}

	.main p,
	.title h1 {
		text-shadow: -1px -1px 0 black,
			1px -1px 0 black,
			-1px 1px 0 black,
			1px 1px 0 black;
	}

	.title hr {
		box-shadow: -1px -1px 0 black,
			1px -1px 0 black,
			-1px 1px 0 black,
			1px 1px 0 black;
	}
}