@media (prefers-color-scheme: light) {
	:root {
		--textcolor: black;
		--themecolor: white;
	}

	.menu {
		background: var(--lighter2);

		.profile {
			background: var(--darker);
			text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
		}

		.links {
			a {
				text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;

				&:hover,
				&:focus-visible {
					background: var(--darker);
				}

				&:active {
					background: var(--darker2);
				}
			}
		}

		&-btn {
			text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
		}
	}
}
